In [1]:
from pydataset import data
import pandas as pd
import numpy as np

import datetime

In [ ]:
# 1. Load the mpg dataset. Read the documentation for it, and use the data to answer 
# these questions:

data('mpg', show_doc=True) # view the documentation for the dataset
# with show_doc=True won't assign data to variable

mpg = data('mpg') # load the dataset and store it in a variable

In [ ]:
# On average, which manufacturer has the best miles per gallon?

# add column of average mpg
mpg['avg_mpg'] = (mpg.cty + mpg.hwy) / 2

# average mpg per manufacturer best on top
mpg.groupby('manufacturer').avg_mpg.mean().sort_values(ascending=False)

In [ ]:
# How many different manufacturers are there?

# use .unique() to get list of unique values, len() will give total count
# https://cmdlinetips.com/2018/01/how-to-get-unique-values-from-a-column-in-pandas-data-frame/
len(mpg.manufacturer.unique())

In [ ]:
# How many different models are there?
# use .unique() to get list of unique values, len() will give total count
len(mpg.model.unique())

In [ ]:
# Do automatic or manual cars have better miles per gallon?
mpg.head()
bools = mpg.trans.str.contains('man')
print("Cars with a manual transmission = True, Automatic Transmission = False")
print("Cars with a manual transmission have a higher average mpg")
mpg.groupby(bools).avg_mpg.mean().sort_values(ascending=False)

In [ ]:
# 2. Joining and Merging
# Copy the users and roles dataframes from the examples above. 

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})


# What do you think a right join would look like? 

# a right join would show all roles (even those without users), but not all users
pd.merge(users, roles, left_on='role_id', right_on='id', how='right')

In [ ]:
#  An outer join?

# an outer join should show all users and all roles inserting null values where needed
pd.merge(users, roles, left_on='role_id', right_on='id', how='outer')

In [ ]:
# What happens if you drop the foreign keys from the dataframes and try to merge them?

# it puts the roles as additional names below the original users
pd.merge(users, roles, how='outer')

In [2]:
# 3. Getting data from SQL databases
# 3.a. Create a function named get_db_url. It should accept a username, hostname, 
# password, and database name and return a url formatted like in the examples 
# in this lesson.

# from env import host, user, password
# url = f'mysql+pymysql://{user}:{password}@{host}/employees'
# pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)


# for getting from Codeup SQL databases
def get_db_url(database):
    from env import host, user, password
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
    return url

# note: this would require typing user and password into jupyter notebook
# which would defeat the purpose of annonimity!
# def general_get_db_url(user, password, host, database):
#     url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
#     return url

In [4]:
# Ryan's challenge = show all available databases
from env import host, user, password
url = f'mysql+pymysql://{user}:{password}@{host}'
query = '''show databases'''
pd.read_sql(query, url)

              Database
0   information_schema
1            albums_db
2                bayes
3            bayes_826
4             chipotle
5               elo_db
6            employees
7            fruits_db
8              iris_db
9      join_example_db
10      mall_customers
11               mysql
12             numbers
13           quotes_db
14              sakila
15              svi_db
16         telco_churn
17          titanic_db
18     tsa_item_demand
19               world
20              zillow

In [5]:
# 3.b. Use your function to obtain a connection to the employees database.
# (and run a query)

query = """select * from orders limit 100"""
pd.read_sql(query, get_db_url('chipotle'))

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98
5,6,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]",$10.98
6,7,3,1,Side of Chips,nan,$1.69
7,8,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour...",$11.75
8,9,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25
9,10,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25
10,11,5,1,Chips and Guacamole,nan,$4.45
11,12,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream]]",$8.75
12,13,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75
13,14,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole]]",$11.25
14,15,7,1,Chips and Guacamole,nan,$4.45
15,16,8,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
16,17,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Cheese, Sour Cream]]",$8.49
17,18,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]",$8.49
18,19,9,2,Canned Soda,[Sprite],$2.18
19,20,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Sour Cream, Cheese, Lettu...",$8.75
20,21,10,1,Chips and Guacamole,nan,$4.45
21,22,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili...",$8.99
22,23,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,24,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans...",$10.98
24,25,12,1,Izze,[Grapefruit],$3.39
25,26,13,1,Chips and Fresh Tomato Salsa,nan,$2.39
26,27,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour C...",$8.49
27,28,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Bea...",$8.99
28,29,14,1,Canned Soda,[Dr. Pepper],$1.09
29,30,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]",$8.49
30,31,15,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
31,32,16,1,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, S...",$8.99
32,33,16,1,Side of Chips,nan,$1.69
33,34,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cre...",$8.99
34,35,17,1,Bottled Water,nan,$1.09
35,36,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice]",$8.75
36,37,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
37,38,18,1,Chips and Guacamole,nan,$4.45
38,39,18,1,Chips and Tomatillo Green Chili Salsa,nan,$2.95
39,40,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, ...",$11.75
40,41,19,1,Chips,nan,$2.15
41,42,20,1,Chips and Guacamole,nan,$4.45
42,43,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.25
43,44,20,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.75
44,45,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]",$8.75
45,46,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Gu...",$10.98
46,47,21,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajita Veggies, Cheese]]",$8.99
47,48,21,1,Izze,[Blackberry],$3.39
48,49,22,1,Steak Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Sa...",$8.99
49,50,22,1,Chips and Guacamole,nan,$3.99
50,51,23,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]",$8.99
51,52,23,2,Canned Soda,[Mountain Dew],$2.18
52,53,24,1,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Beans, Rice, Fajita Veggies, Cheese, Sour C...",$10.98
53,54,24,1,Canned Soda,[Sprite],$1.09
54,55,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream]]",$8.99
55,56,25,1,Chips and Fresh Tomato Salsa,nan,$2.39
56,57,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black Beans, Lettuce]]",$9.25
57,58,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream,...",$11.25
58,59,27,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, ...",$11.75
59,60,27,1,Chips,nan,$2.15
60,61,28,1,Chips and Guacamole,nan,$4.45
61,62,28,1,Steak Soft Tacos,"[Fresh Tomato Salsa, Cheese]",$9.25
62,63,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacam...",$11.25
63,64,28,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75
64,65,29,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cre...",$8.99
65,66,29,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese, Sour Cream, Lettuce]]",$8.99
66,67,30,1,Izze,[Blackberry],$3.39
67,68,30,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese]]",$8.99
68,69,30,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Gu...",$10.98
69,70,31,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Black Beans, Sour Cream]]",$8.99
70,71,31,1,Side of Chips,nan,$1.69
71,72,32,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]",$8.99
72,73,32,1,Chips and Guacamole,nan,$3.99
73,74,33,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",$8.75
74,75,33,1,Chips and Guacamole,nan,$4.45
75,76,34,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sour Cream, Lettuce]]",$8.75
76,77,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Lettuce]]",$8.75
77,78,34,1,Chips,nan,$2.15
78,79,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$8.75
79,80,35,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce, Guacamole]]",$11.25
80,81,35,1,Chips,nan,$2.15
81,82,36,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25
82,83,36,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",$8.75
83,84,37,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese]]",$8.75
84,85,37,1,Steak Soft Tacos,[Tomatillo Red Chili Salsa],$9.25
85,86,38,1,Veggie Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans, Black Beans, Rice, Fajita Veggies, Let...",$8.49
86,87,38,1,Steak Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans, Rice, Fajita Veggies, Cheese, Lettuce]]",$8.99
87,88,38,1,Bottled Water,nan,$1.09
88,89,39,1,Carnitas Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour Cream, Cheese]]",$9.25
89,90,39,1,Chips and Fresh Tomato Salsa,nan,$2.95
90,91,40,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]]",$11.75
91,92,40,1,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Cheese, Sour Cream, Guacamole]]",$11.75
92,93,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",$9.25
93,94,41,1,Carnitas Burrito,"[Roasted Chili Corn Salsa, [Sour Cream, Guacamole]]",$11.75
94,95,41,1,Chips and Guacamole,nan,$4.45
95,96,42,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream]]",$9.25
96,97,42,1,Chips and Guacamole,nan,$4.45
97,98,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]]",$11.75
98,99,43,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese]]",$8.75
99,100,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vegetables, Sour Cream, Lettuce]]",$8.75

In [ ]:
# 3. Once you have successfully run a query:
# 3.c.i. Intentionally make a typo in the database url. What kind of error message do you see?

# misspell database name
#query = """select * from orders limit 100"""
#pd.read_sql(query, get_db_url('chipotel'))

# spelling error in url, supposed to be pymysql
url = f'mysql+pysql://{user}:{password}@{host}'
query = '''show databases'''
pd.read_sql(query, url)

In [ ]:
# 3.c.ii. Intentionally make an error in your SQL query. What does the error message look like?

# misspell query table name
query = """select * from oders limit 100"""
pd.read_sql(query, get_db_url('chipotle'))

In [14]:
# 3.d. Read the employees and titles tables into two separate dataframes

# write SQL queries for tables
query_employees = '''select * from employees'''
query_titles = '''select * from titles'''
# url function
url = get_db_url('employees')
# assign tables to df variables
employeesdf = pd.read_sql(query_employees, url)
titlesdf = pd.read_sql(query_titles, url)

In [12]:
# 3.e. Visualize the number of employees with each title.

# 3.e.i. current data
# get a sense of what titlesdf looks like
titlesdf.head()
# set today's date variable and create bools to filter to_date greater than today
today = pd.to_datetime('today')
today

Timestamp('2020-08-16 14:51:30.201229')

In [15]:
bools = titlesdf.to_date < today

TypeError: Cannot compare type 'Timestamp' with type 'date'

In [10]:
# use the groupby to count the number of employees with that title currently
titlesdf[bools].groupby('title').count()

TypeError: Cannot compare type 'Timestamp' with type 'date'

In [ ]:
# 3.e.ii. Visualize the number of employees with each title -- for all titles historical
# this will count the historical number of employees with that title
titlesdf.groupby('title').count()

In [16]:
# 3.f. Join the employees and titles dataframes together.

# get a sense of the columns in the df to join
print(employeesdf.head())
print(titlesdf.head())

# merge dfs on emp_no
emp_with_titles = pd.merge(employeesdf, titlesdf, left_on='emp_no', right_on='emp_no', how='outer')
# show combined head
emp_with_titles.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

,emp_no,birth_date,first_name,last_name,gender,hire_date,title,from_date,to_date
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,Senior Engineer,1986-06-26,9999-01-01
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,Staff,1996-08-03,9999-01-01
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,Senior Engineer,1995-12-03,9999-01-01
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,Engineer,1986-12-01,1995-12-01
4,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,Senior Engineer,1995-12-01,9999-01-01

In [17]:
type(emp_with_titles.to_date[1])

datetime.date

In [18]:
emp_with_titles['to_date'] - emp_with_titles['from_date']

0         2926512 days, 0:00:00
1         2922821 days, 0:00:00
2         2923065 days, 0:00:00
3            3287 days, 0:00:00
4         2923067 days, 0:00:00
5         2922781 days, 0:00:00
6            2557 days, 0:00:00
7         2925011 days, 0:00:00
8         2922995 days, 0:00:00
9            2557 days, 0:00:00
10            873 days, 0:00:00
11           1826 days, 0:00:00
12           1826 days, 0:00:00
13        2923353 days, 0:00:00
14        2922708 days, 0:00:00
15           2483 days, 0:00:00
16           2922 days, 0:00:00
17        2921223 days, 0:00:00
18        2926761 days, 0:00:00
19        2923769 days, 0:00:00
20            337 days, 0:00:00
21        2922264 days, 0:00:00
22        2921360 days, 0:00:00
23           2557 days, 0:00:00
24           2922 days, 0:00:00
25        2923309 days, 0:00:00
26        2921821 days, 0:00:00
27        2922307 days, 0:00:00
28           5269 days, 0:00:00
29        2921695 days, 0:00:00
30        2921671 days, 0:00:00
31        2922141 days, 0:00:00
32           3712 days, 0:00:00
33           2191 days, 0:00:00
34        2921132 days, 0:00:00
35           2191 days, 0:00:00
36        2921119 days, 0:00:00
37           2358 days, 0:00:00
38           3287 days, 0:00:00
39        2921315 days, 0:00:00
40           2557 days, 0:00:00
41        2921162 days, 0:00:00
42           2557 days, 0:00:00
43        2922062 days, 0:00:00
44           1826 days, 0:00:00
45        2923231 days, 0:00:00
46           2198 days, 0:00:00
47           1663 days, 0:00:00
48           2922 days, 0:00:00
49        2922788 days, 0:00:00
50        2924379 days, 0:00:00
51           1826 days, 0:00:00
52        2923063 days, 0:00:00
53        2922773 days, 0:00:00
54           2557 days, 0:00:00
55        2922653 days, 0:00:00
56           3287 days, 0:00:00
57           2191 days, 0:00:00
58        2921896 days, 0:00:00
59        2921990 days, 0:00:00
60           3287 days, 0:00:00
61            142 days, 0:00:00
62           2557 days, 0:00:00
63           2557 days, 0:00:00
64        2922378 days, 0:00:00
65        2923626 days, 0:00:00
66        2922716 days, 0:00:00
67        2921404 days, 0:00:00
68           2922 days, 0:00:00
69           3287 days, 0:00:00
70        2922216 days, 0:00:00
71            702 days, 0:00:00
72        2921451 days, 0:00:00
73           2922 days, 0:00:00
74        2921582 days, 0:00:00
75           3287 days, 0:00:00
76           2191 days, 0:00:00
77        2922018 days, 0:00:00
78        2920814 days, 0:00:00
79           1826 days, 0:00:00
80        2923450 days, 0:00:00
81        2921366 days, 0:00:00
82           1826 days, 0:00:00
83           1181 days, 0:00:00
84           3287 days, 0:00:00
                  ...
443223    2923732 days, 0:00:00
443224    2922219 days, 0:00:00
443225       2921 days, 0:00:00
443226    2922578 days, 0:00:00
443227    2924244 days, 0:00:00
443228       3287 days, 0:00:00
443229    2921007 days, 0:00:00
443230       2922 days, 0:00:00
443231    2920866 days, 0:00:00
443232        102 days, 0:00:00
443233    2921842 days, 0:00:00
443234       2191 days, 0:00:00
443235    2922474 days, 0:00:00
443236        386 days, 0:00:00
443237    2921772 days, 0:00:00
443238    2925221 days, 0:00:00
443239    2923713 days, 0:00:00
443240       3287 days, 0:00:00
443241       1826 days, 0:00:00
443242    2923181 days, 0:00:00
443243    2921510 days, 0:00:00
443244       2557 days, 0:00:00
443245       2557 days, 0:00:00
443246    2920925 days, 0:00:00
443247       2103 days, 0:00:00
443248        705 days, 0:00:00
443249       1826 days, 0:00:00
443250    2922725 days, 0:00:00
443251    2925334 days, 0:00:00
443252       1826 days, 0:00:00
443253    2923947 days, 0:00:00
443254    2923231 days, 0:00:00
443255       2557 days, 0:00:00
443256    2922817 days, 0:00:00
443257       2191 days, 0:00:00
443258    2921308 days, 0:00:00
443259    2922758 days, 0:00:00
443260       3287 days, 0:00:00
443261    2925064 days, 0:00:00
443262       1826 days, 0:00:00
443263       1657 days, 0:00:00
443264    2922756 days, 0:00:00
443265       1826 days, 0:00:00
443266    2922098 days, 0:00:00
443267    2923393 days, 0:00:00
443268       1389 days, 0:00:00
443269       3287 days, 0:00:00
443270    2921979 days, 0:00:00
443271    2923735 days, 0:00:00
443272    2922691 days, 0:00:00
443273        610 days, 0:00:00
443274    2925598 days, 0:00:00
443275    2921579 days, 0:00:00
443276        523 days, 0:00:00
443277    2922795 days, 0:00:00
443278    2921899 days, 0:00:00
443279       2922 days, 0:00:00
443280    2921510 days, 0:00:00
443281       3287 days, 0:00:00
443282        404 days, 0:00:00
443283    2921015 days, 0:00:00
443284       2191 days, 0:00:00
443285       1826 days, 0:00:00
443286    2923556 days, 0:00:00
443287    2922629 days, 0:00:00
443288    2924274 days, 0:00:00
443289       2557 days, 0:00:00
443290    2921586 days, 0:00:00
443291       1537 days, 0:00:00
443292       3287 days, 0:00:00
443293       1590 days, 0:00:00
443294    2921640 days, 0:00:00
443295    2922629 days, 0:00:00
443296    2924368 days, 0:00:00
443297       1826 days, 0:00:00
443298    2922574 days, 0:00:00
443299        247 days, 0:00:00
443300    2922518 days, 0:00:00
443301       2191 days, 0:00:00
443302    2920712 days, 0:00:00
443303       1826 days, 0:00:00
443304    2924256 days, 0:00:00
443305    2921945 days, 0:00:00
443306       1826 days, 0:00:00
443307    2922337 days, 0:00:00
Length: 443308, dtype: object

In [20]:
# 3.g. Visualize how frequently employees change titles.

# find type of data in to_date and from_date columns
type(emp_with_titles.to_date)

# exobrain http://chris35wills.github.io/time_elapsed_pandas/
# columns are objects, pandas timedelta works on objects
# per exobrain https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timedelta.html

# replace future to_date to today for calculations
#df['column name'] = df['column name'].replace(['old value'],'new value')
# today = pd.to_datetime('today')
# print(today)
# to = pd.to_datetime(emp_with_titles.to_date, yearfirst=True) 
# today = pd.to_datetime('today')
# bools = titlesdf.to_date < today 
# emp_with_titles['calc_date'] = emp_with_titles.to_date[bools]

# df_test['Difference'] = df_test['First_Date'].sub(df_test['Second Date'], axis=0)
# df_test.head()

emp_with_titles['to_date'] - emp_with_titles['from_date']


# calculate time in position for all (include historic) and add as column
# exobrain http://www.datasciencemadesimple.com/difference-two-dates-days-weeks-months-years-pandas-python-2/
#emp_with_titles['time_in_position'] = emp_with_titles['to_date'] - emp_with_titles['from_date']
#emp_with_titles['time_in_position']=df['diff_years']/np.timedelta64(1,'Y')

0         2926512 days, 0:00:00
1         2922821 days, 0:00:00
2         2923065 days, 0:00:00
3            3287 days, 0:00:00
4         2923067 days, 0:00:00
5         2922781 days, 0:00:00
6            2557 days, 0:00:00
7         2925011 days, 0:00:00
8         2922995 days, 0:00:00
9            2557 days, 0:00:00
10            873 days, 0:00:00
11           1826 days, 0:00:00
12           1826 days, 0:00:00
13        2923353 days, 0:00:00
14        2922708 days, 0:00:00
15           2483 days, 0:00:00
16           2922 days, 0:00:00
17        2921223 days, 0:00:00
18        2926761 days, 0:00:00
19        2923769 days, 0:00:00
20            337 days, 0:00:00
21        2922264 days, 0:00:00
22        2921360 days, 0:00:00
23           2557 days, 0:00:00
24           2922 days, 0:00:00
25        2923309 days, 0:00:00
26        2921821 days, 0:00:00
27        2922307 days, 0:00:00
28           5269 days, 0:00:00
29        2921695 days, 0:00:00
30        2921671 days, 0:00:00
31        2922141 days, 0:00:00
32           3712 days, 0:00:00
33           2191 days, 0:00:00
34        2921132 days, 0:00:00
35           2191 days, 0:00:00
36        2921119 days, 0:00:00
37           2358 days, 0:00:00
38           3287 days, 0:00:00
39        2921315 days, 0:00:00
40           2557 days, 0:00:00
41        2921162 days, 0:00:00
42           2557 days, 0:00:00
43        2922062 days, 0:00:00
44           1826 days, 0:00:00
45        2923231 days, 0:00:00
46           2198 days, 0:00:00
47           1663 days, 0:00:00
48           2922 days, 0:00:00
49        2922788 days, 0:00:00
50        2924379 days, 0:00:00
51           1826 days, 0:00:00
52        2923063 days, 0:00:00
53        2922773 days, 0:00:00
54           2557 days, 0:00:00
55        2922653 days, 0:00:00
56           3287 days, 0:00:00
57           2191 days, 0:00:00
58        2921896 days, 0:00:00
59        2921990 days, 0:00:00
60           3287 days, 0:00:00
61            142 days, 0:00:00
62           2557 days, 0:00:00
63           2557 days, 0:00:00
64        2922378 days, 0:00:00
65        2923626 days, 0:00:00
66        2922716 days, 0:00:00
67        2921404 days, 0:00:00
68           2922 days, 0:00:00
69           3287 days, 0:00:00
70        2922216 days, 0:00:00
71            702 days, 0:00:00
72        2921451 days, 0:00:00
73           2922 days, 0:00:00
74        2921582 days, 0:00:00
75           3287 days, 0:00:00
76           2191 days, 0:00:00
77        2922018 days, 0:00:00
78        2920814 days, 0:00:00
79           1826 days, 0:00:00
80        2923450 days, 0:00:00
81        2921366 days, 0:00:00
82           1826 days, 0:00:00
83           1181 days, 0:00:00
84           3287 days, 0:00:00
                  ...
443223    2923732 days, 0:00:00
443224    2922219 days, 0:00:00
443225       2921 days, 0:00:00
443226    2922578 days, 0:00:00
443227    2924244 days, 0:00:00
443228       3287 days, 0:00:00
443229    2921007 days, 0:00:00
443230       2922 days, 0:00:00
443231    2920866 days, 0:00:00
443232        102 days, 0:00:00
443233    2921842 days, 0:00:00
443234       2191 days, 0:00:00
443235    2922474 days, 0:00:00
443236        386 days, 0:00:00
443237    2921772 days, 0:00:00
443238    2925221 days, 0:00:00
443239    2923713 days, 0:00:00
443240       3287 days, 0:00:00
443241       1826 days, 0:00:00
443242    2923181 days, 0:00:00
443243    2921510 days, 0:00:00
443244       2557 days, 0:00:00
443245       2557 days, 0:00:00
443246    2920925 days, 0:00:00
443247       2103 days, 0:00:00
443248        705 days, 0:00:00
443249       1826 days, 0:00:00
443250    2922725 days, 0:00:00
443251    2925334 days, 0:00:00
443252       1826 days, 0:00:00
443253    2923947 days, 0:00:00
443254    2923231 days, 0:00:00
443255       2557 days, 0:00:00
443256    2922817 days, 0:00:00
443257       2191 days, 0:00:00
443258    2921308 days, 0:00:00
443259    2922758 days, 0:00:00
443260       3287 days, 0:00:00
443261    2925064 days, 0:00:00
443262       1826 days, 0:00:00
443263       1657 days, 0:00:00
443264    2922756 days, 0:00:00
443265       1826 days, 0:00:00
443266    2922098 days, 0:00:00
443267    2923393 days, 0:00:00
443268       1389 days, 0:00:00
443269       3287 days, 0:00:00
443270    2921979 days, 0:00:00
443271    2923735 days, 0:00:00
443272    2922691 days, 0:00:00
443273        610 days, 0:00:00
443274    2925598 days, 0:00:00
443275    2921579 days, 0:00:00
443276        523 days, 0:00:00
443277    2922795 days, 0:00:00
443278    2921899 days, 0:00:00
443279       2922 days, 0:00:00
443280    2921510 days, 0:00:00
443281       3287 days, 0:00:00
443282        404 days, 0:00:00
443283    2921015 days, 0:00:00
443284       2191 days, 0:00:00
443285       1826 days, 0:00:00
443286    2923556 days, 0:00:00
443287    2922629 days, 0:00:00
443288    2924274 days, 0:00:00
443289       2557 days, 0:00:00
443290    2921586 days, 0:00:00
443291       1537 days, 0:00:00
443292       3287 days, 0:00:00
443293       1590 days, 0:00:00
443294    2921640 days, 0:00:00
443295    2922629 days, 0:00:00
443296    2924368 days, 0:00:00
443297       1826 days, 0:00:00
443298    2922574 days, 0:00:00
443299        247 days, 0:00:00
443300    2922518 days, 0:00:00
443301       2191 days, 0:00:00
443302    2920712 days, 0:00:00
443303       1826 days, 0:00:00
443304    2924256 days, 0:00:00
443305    2921945 days, 0:00:00
443306       1826 days, 0:00:00
443307    2922337 days, 0:00:00
Length: 443308, dtype: object

In [ ]:
# For each title, find the hire date of the employee that was hired most recently 
# with that title.

In [ ]:
# Write the code necessary to create a cross tabulation of the number of titles
# by department. (Hint: this will involve a combination of SQL and python/pandas code)

In [ ]:
# 4. Use your get_db_url function to help you explore the data from the chipotle database. 
# Use the data to answer the following questions:

In [ ]:
# What is the total price for each order?

In [ ]:
# What are the most popular 3 items?

In [ ]:
# Which item has produced the most revenue?